# Unity ignore rules

# Unity generated
/Library/
/Temp/
/obj/
/Build/
/Builds/
/UserSettings/
/.vs/

# Visual Studio
*.csproj
*.sln
*.userprefs
*.pidb
*.userprefs
*.unityproj

# Rider
*.sln.iml
*.csproj
*.user

# Mac
.DS_Store
*.dSYM

# Windows
Thumbs.db
*.tmp
*.log
/Library/
/obj/
/BookOfWorlds/Library/
/BookOfWorlds/obj/
.vs/
.vsconfig
